.alert {
    box-shadow: none !important;
    margin: 0;
    margin-right: 5.5em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.mycontent-left {
    border-right: 3px solid#333;
}

.card {
    padding-left: 10px;
    padding-right: 10px;
}

h4 {
    font-weight: 400;

}